- title 'My Profile :: My Favorite Books'
- section 'people'

- content_for :sub_nav do
  %ul
    %li= link_to 'General', profile_path
    %li= link_to 'Network', updates_profile_path
    %li= link_to 'Websites', websites_submissions_profile_path
    %li= link_to 'Jobs', jobs_submissions_profile_path
    %li= link_to 'Books', books_submissions_profile_path
    %li= link_to 'Settings', privacy_profile_path

.two-columns-body
  %h2
    My Favorite Books

  - if @books.empty?
    %p= "You hadn't marked any book as favorite yet."
    %p= link_to "Go Browse Now!", books_path
  - else
    %ul.objects.books
      - @books.each do |book|
        %li
          .image
            %a{:href => book_url(book)}
              = image_tag book.photo.url
          %h3
            %a{:href => book_url(book)}
              = h book.title
          .author
            = h book.author
          - unless book.tags.empty?
            .label
              - for tag in book.tags
                = link_to tag.name, books_path(:tag => tag.name)
    .clear
    = will_paginate @books

= render :partial => 'sidebar', :locals => { :element => @person, :section => 'books', :page => 'favs' }

