- title "#{@person.name} :: Favorite Books"
- section 'people'

= render :partial => 'subnavs/people'

- content_for :sidebar do
  - unless Book.tag_counts.empty?
    = render :partial => '/books/tag_cloud', :layout => '/layouts/sidebox', :locals => { :title => 'Books Cloud' }
  - unless Book.recently_submited.empty?
    = render :partial => '/books/recently_submitted', :layout => '/layouts/sidebox', :locals => { :title => 'Recently Submitted' }
  - unless Review.books_recently_reviewed.empty?
    = render :partial => '/books/recently_reviewed', :layout => '/layouts/sidebox', :locals => { :title => 'Recently Reviewed' }
		
.one-column			
  %h2.title
    = h "#{@person.name}'s Favorite Books"

  %div.actions
    %ul.user_actions
      %li= link_to "Back to #{@person.name} profile", person_path(@person)
						
  - if @books.empty?
    %p= "#{@person.name} hasn't marked any books as favorite yet."
  - else
    %ul.books.objects
      - @books.each do |book|
        %li
          .image
            %a{:href => book_url(book)}
              = image_tag book.photo.url(:thumb)
          %h3
            %a{:href => book_url(book)}
              = h book.title
          .author
            = h book.author
          - unless book.tags.empty?
            .label
              - for tag in book.tags
                = link_to tag.name, books_path(:tag => tag.name)
    .clear
					
    = will_paginate @books
