%ul
  %li= link_to 'Our Blog', 'http://blog.theusabilitypage.com/', :target => "_blank"
  %li= link_to 'Twitter', 'http://twitter.com/usabilitypage', :target => "_blank"
  %li= link_to 'Get Satisfaction', 'http://getsatisfaction.com/theusabilitypage', :target => "_blank"
  %li= link_to 'Facebook', 'http://www.facebook.com/group.php?gid=45516863501', :target => "_blank"
  %li= link_to 'Linked In Page', 'http://www.linkedin.com/companies/the-usability-page', :target => "_blank"

%p We are looking forward to hear from you!

